<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-ciclo valor="valor" *ngIf="deletarCiclo"></app-ciclo>

<button (click)="mudarValor()">mudar valor</button>
<button (click)="destruirCiclo()">destroy</button> -->

<!-- <app-data-binding></app-data-binding> -->

<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->

<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exemplo-ngcontent>
    <h3 class="head">
        Conteúdo passado para o componente:
    </h3>
    <div class="body">
        <app-operador-elvis></app-operador-elvis>
    </div>
</app-exemplo-ngcontent> -->
<app-diretivas-customizadas></app-diretivas-customizadas>